<div class="row">
	<div class="col-xs-2"></div>
	<div class="col-xs-10">
		<h3>商品一覧
			<p style="display: inline-block; font-size: 2rem;">
			(全<%= Item.count %>件)
			</p>
		</h3>
		<% @items.each do |item| %>
			<div class="col-xs-3 mt-15px">
				<div class="col-xs-12">
					<%= attachment_image_tag item,:image,format: 'jpeg',fallback: 'no_image.jpg',size: '150x100' %>
				</div>
				<div class="col-xs-12">
					<p class="mt-5px"><strong><%= item.name %></strong></p>
					<p class="mt-5px"><strong>¥<%= "#{item.price * 1.10}".to_i %></strong></p>
				</div>
			</div>
		<% end %>
	</div>
</div>